* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('Background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgba(51, 51, 51, 0.7);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    animation: fadeIn 2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    margin-top: 4rem;
}

section {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 2rem;
    animation: fadeIn 2s;
}

h1, h2 {
    margin-bottom: 1rem;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.profile-photo {
    float: left;
    width: 100%;
    max-width: 100px; /* Adjust this value to set a maximum width for the photo */
    height: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
